.button {
            display: inline-block;
            text-decoration: none;
            color: white;
            font-size: 1.8rem;
            letter-spacing: 3px;
            background: red;
            padding: 15px 30px;
            border-radius: 5px;
            transition: box-shadow 0.3s ease;
            margin: 0 0 30px;
            position: relative;
            overflow: hidden;

            &--aboutMe {
                background: $accentColor;
                margin: 0 0 0 30px;

                &:first-child {
                    margin: 0;
                }
            }

            &:after {
                content: '';
                position: absolute;
                width: 150px;
                height: 100%;
                left: -150px;
                top: 0;
                z-index: 555;
            }

            &:hover {
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
            }
            
            &:hover:after {
                background: linear-gradient(to right, rgba(255,255,255,0) 33%,rgba(255,255,255,0.8) 45%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.8) 56%,rgba(255,255,255,0) 69%); 
                transition: transform 0.5s ease-in-out 0.3s;
                transform: translateX(250%);
            }
            
            &:active {
                box-shadow: none;
                background: rgb(185, 0, 0);
            }

             @include mobile {
                padding: 10px 20px;
            }

        }
