@font-face {
			font-family: "AeroMaticsBold";
			src: url("../fonts/AeroMatics/AeroMaticsBold/AeroMaticsBold.eot");
			src: url("../fonts/AeroMatics/AeroMaticsBold/AeroMaticsBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AeroMatics/AeroMaticsBold/AeroMaticsBold.woff") format("woff"),
			url("../fonts/AeroMatics/AeroMaticsBold/AeroMaticsBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AeroMaticsBoldItalic";
			src: url("../fonts/AeroMatics/AeroMaticsBoldItalic/AeroMaticsBoldItalic.eot");
			src: url("../fonts/AeroMatics/AeroMaticsBoldItalic/AeroMaticsBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AeroMatics/AeroMaticsBoldItalic/AeroMaticsBoldItalic.woff") format("woff"),
			url("../fonts/AeroMatics/AeroMaticsBoldItalic/AeroMaticsBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AeroMaticsItalic";
			src: url("../fonts/AeroMatics/AeroMaticsItalic/AeroMaticsItalic.eot");
			src: url("../fonts/AeroMatics/AeroMaticsItalic/AeroMaticsItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AeroMatics/AeroMaticsItalic/AeroMaticsItalic.woff") format("woff"),
			url("../fonts/AeroMatics/AeroMaticsItalic/AeroMaticsItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}