$mq-tablet-ls				: 1210px !default;
$mq-tablet-pr				: 992px !default;
$mq-mobile					: 768px !default;

@mixin tablet-ls {
	@media (max-width : $mq-tablet-ls) {
		@content;
	}
}

@mixin tablet-pr {
	@media (max-width : $mq-tablet-pr) {
		@content;
	}
}

@mixin mobile {
	@media (max-width : $mq-mobile) {
		@content;
	}
}


@mixin container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;

	@include tablet-ls {
		width: 1024px;
	}
	
	@include tablet-pr {
		width: 783px; 
	}

	@include mobile {
		width: 100%; 
	}
}

@mixin section {
	padding: 85px 0;

	@include tablet-pr {
		padding: 40px 0;
		text-align: center;
	}
}

@mixin sectionTitle {
	margin-bottom: 15px;

	@include tablet-pr {
		font-size: 2rem;
		margin-bottom: 15px;
	}
}

@mixin sectionText {
	margin: 0;
}
