.contact {
    @include section;
    background: $grayBackgroung;
}

    .title--contact {
        @include sectionTitle;
    }

        .contact__wrap {
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
        }
            .left-column--contact {
                width: 35%;

                @include tablet-pr {
                    width: 100%;
                    margin-bottom: 50px;
                    order: -1;
                }
            }

                .text--contact {
                    @include sectionText;
                }

            .right-column--contact {
                width: 65%;

                @include tablet-pr {
                    width: 100%;
                }
            }
            
                .contact__form {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                }

                    .form__left-column {
                        width: 35%;
                        padding: 0 15px;

                        input {
                            width: 100%;
                            margin-bottom: 25px;
                            line-height: 3;
                            padding: 0 15px;
                            border: 0.5px solid rgba($color: #000000, $alpha: 0.2);
                            font-family: $mainFont;
                            letter-spacing: 1px;
                            color: $accentColor;
                            
                            &:last-child {
                                margin-bottom: 0;
                            }
                        } 
                        
                        
                        input::-webkit-input-placeholder { color: rgba($color: #000000, $alpha: 0.2) };

                        @include mobile {
                            width: 100%;
                            margin-bottom: 25px;
                            padding: 0;
                        }
                    }
                    
                    
                    .form__right-column {
                        width: 65%;
                        padding: 0 0 0 15px;
                        
                        textarea {
                            border: none;
                            width: 100%;
                            height: 100%;
                            padding: 15px;
                            resize: none;
                            border: 0.5px solid rgba($color: #000000, $alpha: 0.2);
                            font-family: $mainFont;
                            letter-spacing: 1px;
                            color: $accentColor;

                            @include mobile {
                                height: 150px;
                            }
                        } 

                        textarea::-webkit-input-placeholder { color: rgba($color: #000000, $alpha: 0.2) };

                        @include mobile {
                            width: 100%;
                            padding: 0;
                        }
                    }

                    .button--form {
                        border: none;
                        margin: 15px 0 15px auto;
                        align-self: flex-end;
                        font-family: $mainFont;
                        font-size: 1.1rem;
                        cursor: pointer;

                        @include mobile {
                           margin: 15px auto;
                        }
                    }

                    