.portfolio {
    @include section;
}

    .title--portfolio {
       @include sectionTitle;
    }

    .text--portfolio {
       @include sectionText;
    }

    .btn-block {
        padding: 40px 0 15px;
    }

        .btn-sort {
            border: none;
            cursor: pointer;
            outline: none;
            background: none;
            text-transform: uppercase;
            margin-right: 25px;
            font-family: "Lucida", sans-serif;
            font-weight: bold;
            color: rgb(180, 180, 180);
            letter-spacing: 0.7px;
            transition: color 0.3s ease;

            &:last-child {
                margin-right: 0;
            }
            
            

            &:focus {
                color: #b90000;
            }

             &:hover {
                color: #b90000;
            }


            @include mobile {
              font-size: 0.75rem;
            }
        }

        .mixitup-control-active {
            color: #b90000;
        }

    .portfolio__list {
        margin: 0;
        padding: 15px 0;
        list-style: none;
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        margin: 0 -20px;
    }

        .portfolio__item {
            width: 33.333%;
            padding: 0 20px;
            margin-bottom: 50px;
            
            &:hover img {
                transform: scale(1.2);
            }

             &:hover .portfolio__img::before {
                opacity: 0;
            }

            @include tablet-pr {
               width: 50%;
            }
            
            @include mobile {
               width: 100%;
               padding: 0 80px;
            }
            
        }

            .portfolio__link {
                height: 100%;
                width: 100%;
                display: block;
                text-decoration: none;

            }    

                .portfolio__img {
                    border-radius: 3px;
                    overflow: hidden;
                    font-size: 0;
                    box-shadow: 0 0 15px rgba(0,0,0,0.3);
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: black;
                        opacity: 0.5;
                        z-index: 555;
                        left: 0;
                        transition: opacity 0.5s ease-in-out;
                    }
                    
                    img {
                        width: 100%;
                        transition: transform 0.3s ease-in-out;
                    }
                }

                .portfolio__item-title {
                    color: $accentColor;
                    font-size: 1.5rem;
                    margin: 12px 0 2px;
                }

                .portfolio__item-date {
                    color: rgb(180, 180, 180);
                    font-style: italic;
                }

                
            