.skills {
    @include section;
    background: $grayBackgroung;
}

    .title--skills {
       @include sectionTitle;
    }

    .text--skills {
       @include sectionText;
    }

    .skills__list {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
    }

        .skills__item {
            width: 25%;
            padding: 0 30px;
            text-align: center;

            @include tablet-ls {
               width: 50%;
            }

            @include mobile {
               width: 100%;
               border-top: 1px solid lightgray;
               margin-bottom: 20px;
               padding: 0 60px;
            }
        }

            .skills__img {
                max-width: 100%;
            }
        
            .skill-title {
                color: #b90000;
                font-family: "Lato", sans-serif;
                letter-spacing: 1px;
            }

            .skill-discr {
                font-family: "Calibri", sans-serif;
                margin: 0;
                line-height: 1.5;
            }